html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:after,
    &:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}


/* ---- base ---- */

html,
body {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    font: normal 100% Arial, Helvetica, sans-serif;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
    display: block;
    vertical-align: bottom;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #000000;
}


/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*Header*/

header {
    position: relative;
}

.headerLogo {
    margin-top: 15px;
    float: left;
    width: 75%;
}

.mainMenu {
    margin-top: 8%;
    float: left;
    padding: 0;
}

.mainMenu li {
    display: inline-block;
    text-align: center;
    padding: 0 30px;
}

.mainMenu li a {
    color: #000;
}

.mainMenu li a:hover {
    border-bottom: 2px solid #00a693;
}

.mainTitle {
    color: #000;
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    font-weight: bold;
}

.mainTitle span {
    color: #00a693;
}

.homeContent {
    font-size: 15px;
    width: 65%;
    margin: 2% auto 0;
    text-align: center;
    color: #313131;
    line-height: 28px;
}

.miniTitle {
    font-size: 28px;
    font-weight: bold;
    color: #313131;
    text-align: center;
    width: 100%;
}

.CTAbtn {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.touchLink {
    display: inline-block;
    padding: 8px 30px;
    color: #fff;
    background: #00a693;
    border-radius: 3px;
    border: 1px solid transparent;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.touchLink:hover {
    color: #00a693;
    background: #fff;
    border: 1px solid #00a693;
}


/*About US*/

.menuLink--project {
    padding: 10px;
    background: #00a693;
    color: #FFF !important;
    border: 1px solid #00a693;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.menuLink--project:hover {
    border: 1px solid #00a693 !important;
    background: #FFF;
    color: #00a693 !important;
}


/*footer*/

footer {
    background: #313131;
    float: left;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footerText {
    color: #fff;
    font-size: 12px;
    margin: 0;
    padding: 10px 0;
}

.socialShare {
    float: left;
    margin: 0;
    padding: 0;
}

.socialList {
    display: inline-block;
    padding: 5px 10px;
}

.sprite {
    display: inline-block;
    background: url('../images/sprite.png') no-repeat;
}

.facebook {
    background-position: -6px -4px;
    width: 20px;
    height: 20px;
}

.twitter {
    background-position: -47px -6px;
    width: 20px;
    height: 17px;
}

.instagram {
    background-position: -88px -5px;
    width: 20px;
    height: 18px;
}

.mobileMenu {
    display: none;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}