//Em font converter
@function fontEm($size) {
    $remSize: $size / 16px;
    @return $remSize * 1em;
}

@mixin font_size($size) {
    font-size: $size;
    font-size: fontEm($size);
}

//Em line-height converter
@function lineEm($size) {
    $remSize: $size / 16px;
    @return $remSize * 1em;
}

@mixin line_height($size) {
    line-height: $size;
    line-height: lineEm($size);
}

//Full width
@mixin full_width() {
    width: 100%;
    float: left;
}

//Translate Prefix
@mixin translate3d($x, $y, $z) {
    -webkit-transform: translate3d($x, $y, $z);
    -moz-transform: translate3d($x, $y, $z);
    transform: translate3d($x, $y, $z);
}

//Positioning
@mixin position($positon, $top:null, $right:null, $bottom:null, $left:null) {
    position: $positon;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

//Transform Prefix
@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    transform: $property;
}

//Transition Prefix
@mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    transition: $property;
}

//Box shadow
@mixin box_shadow($property) {
    -webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    box-shadow: $property;
}

//Sprite
@mixin sprite($position, $width, $height) {
    background: url('../images/sprite.png') no-repeat;
    background-position: $position;
    width: $width;
    height: $height;
    display: inline-block;
    vertical-align: middle;
}

//Close Icon Mixin
@mixin close_link() {
    @include sprite(-113px -123px,
    30px,
    30px);
    @include position(absolute,
    -10px,
    -10px);
    background-color: $base-color;
    z-index: 9;
    border-radius: 50%;
}

//Error Message Mixin
@mixin errorMsg() {
    color: #ff0000;
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 200px;
    text-align: left;
    font-size: 12px;
}

@mixin sectionTitle() {
    text-transform: uppercase;
    font-size: 36px;
    font-size: 2.25em;
    font-family: "Lato-bold";
    display: inline-block;
    position: relative;
    &:before {
        content: '';
        width: 70px;
        height: 2px;
        background: $yellow;
        position: absolute;
        right: auto;
        bottom: -5px;
        left: 35%;
    }
}

@mixin button() {
    padding: 5px 10px;
    background: $base-color;
    color: $white !important;
    border: 1px solid $base-color;
    @include transition(0.2s ease-in-out);
    &:hover {
        border: 1px solid $base-color !important;
        background: $white;
        color: $base-color !important;
    }
}