/*Responsive Media Query*/


/*High Resolution Devices*/


/*Above 1600*/

@media only screen and (min-width: 1601px) {}


/*Low resolution Laptops*/


/*1440*/

@media only screen and (min-width: 1440px) {}


/*1366*/

@media only screen and (min-width: 1366px) {}


/*1200*/

@media only screen and (min-width: 1200px) {}


/*991*/

@media only screen and (min-width: 991px) {}


/*Mini Devices*/

@media only screen and (max-width: 1024px) {
    .homeContent {
        width: 75%;
    }
}


/*All Mobile Landscape and portrait*/

@media only screen and (max-width: 768px) {
    header {
        display: table;
    }
    header .pull-left {
        width: 38%;
    }
    .mainMenu {
        display: none;
    }
    .headerLogo {
        float: none;
        width: 50%;
        display: table;
        margin: 25px auto 0;
    }
    .mainTitle {
        font-size: 24px;
    }
    .homeContent {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        width: 100%;
    }
    .miniTitle {
        font-size: 20px;
    }
    .mobileMenu {
        display: block;
        position: fixed;
        right: 15px;
        top: 15px;
    }
    .mobileMenuLaunch {
        width: 30px;
        height: 40px;
        position: absolute;
        right: 0;
    }
    .mobileMenuLaunch:before {
        content: '';
        height: 25px;
        width: 1px;
        background: #000;
        position: absolute;
        right: 15px;
        top: 0px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .mobileMenuLaunch:after {
        content: '';
        height: 25px;
        width: 1px;
        background: #000;
        position: absolute;
        right: 15px;
        top: 15px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .mbMenu {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 166, 147, 0.9);
        -webkit-transform: translateY(-200%);
        -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        transform: translateY(-200%);
        opacity: 0;
    }
    .active {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        -webkit-transition: all 0.5s 0.1s;
        -moz-transition: all 0.5s 0.1s;
        transition: all 0.5s 0.1s;
        display: table;
    }
    .mbmenuClose {
        position: fixed;
        right: 15px;
        z-index: 999;
        width: 30px;
        height: 40px;
    }
    .mbmenuClose:before {
        content: '';
        height: 25px;
        width: 1px;
        background: #FFF;
        position: absolute;
        right: 15px;
        top: 15px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .mbmenuClose:after {
        content: '';
        height: 25px;
        width: 1px;
        background: #FFF;
        position: absolute;
        right: 15px;
        top: 15px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .mobileMenuHead {
        padding: 0;
        display: table-cell;
        vertical-align: middle;
    }
    .mobileMenuList {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }
    .mobileMenuLink {
        color: #FFF;
        font-size: 18px;
    }
    .mainContent {
        margin-top: 10%;
    }
    .touchLink {
        margin-top: 10px;
    }
    .footerText {
        text-align: center;
        font-size: 10px;
    }
    .forMobile {
        width: 100%;
    }
    .socialShare {
        text-align: center;
        width: 100%;
    }
    footer {
        position: fixed;
    }
}


/*All Mobile Postrait Alone*/