/*About US*/

.menuLink {
    &--active {
        border-bottom: 2px solid $base-color;
    }
    &--project {
        @include button();
    }
}

.aboutInnerContent {
    text-align: center;
    margin-bottom: 6%;
    .sectionMain__title {
        @include sectionTitle();
    }
    h4 {
        font-size: 24px;
        font-size: 1.5em;
        font-family: "Lato-bold";
        margin: 25px 0;
    }
    h5 {
        font-size: 20px;
        font-size: 1.25em;
        margin: 20px 0;
    }
    p {
        width: 71%;
        margin: 0 auto 20px;
        font-size: 16px;
        font-size: 1em;
        word-spacing: 3px;
        line-height: 24px;
    }
}

.ourProcess {
    width: 100%;
    float: left;
    background: #1e2331;
    padding: 4% 0;
    text-align: center;
    &__discoverTitle {
        color: $white;
        text-transform: uppercase;
        font-size: 36px;
        font-size: 2.25em;
        font-family: "Lato-bold";
        display: inline-block;
        position: relative;
        &:before {
            content: '';
            width: 70px;
            height: 2px;
            background: $yellow;
            position: absolute;
            right: auto;
            bottom: -5px;
            left: 35%;
        }
    }
    &__innerSection {
        @include full_width();
    }
    &__sectionContent {
        @include full_width();
        margin-bottom: 30px;
        &:last-child {
            .ourProcess {
                &__innerSectionRight {
                    visibility: hidden;
                }
            }
        }
    }
    &__sectionContentLeft {
        float: left;
        width: 60%;
        color: $white;
    }
    &__sectionContentRight {
        float: left;
        width: 40%;
        .inverse {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
    }
    &__innerSectionRight {
        width: 100%;
    }
    &__rightArrow {
        width: 35%;
        margin-top: 10%;
    }
    &__contentInner {
        width: 75%;
        text-align: left;
        margin: 0 auto;
        display: inline-block;
        line-height: 18px;
    }
    &__contentTitleImg {
        @include sprite(-469px -22px, 89px, 80px);
        margin-right: 20px;
        &Design {
            @include sprite(-157px -6px, 118px, 117px);
            margin-right: 20px;
        }
        &Develop {
            @include sprite(-310px -6px, 129px, 118px);
            margin-right: 20px;
        }
        &Launch {
            @include sprite(-469px -22px, 89px, 80px);
            margin-right: 20px;
        }
    }
}